<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-16">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

  <style>
    @charset "UTF-16";

#title {
      color: darkcyan;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18pt;
    }

    form {
        padding: 15px;
    }

    input {
        margin: 6px;
    }

  </style>


<body>
  <p id="title">TEAL</p>
  <div id="form">
      <form >
        <label for="owner"> Owner: </label>
        <input id="owner" type="text" name="owner">

    </br> <label for="rating"> Rating: </label>
     <input id="rating" type="number" max="8" name="rating">

</br>  <label for="county"> County: </label>
    <input id="county" type="tel" name="county">
    </br> <input type="submit" value="send" class="button">
    </form>
    <script>

    </script>
   </div>

</body>
</html> 
