<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-16">

    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-map.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/themes/light_blue.min.js"></script>
    <link href="https://cdn.anychart.com/playground-css/seat-map/seat-map-title.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">

</head>

  <style>
    @charset "UTF-16";

  #title {
      color: darkcyan;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18pt;
  }

  #container {
    height: 200px;
    width: 200px;
  }

  #id {
    stroke: 5px solid cyan;
  }
  </style>


<body>
  <p id="title">TEAL</p>
 	<form method="POST">
	<label for="search_by"> Search by: </label>
	<input id="search_by" name="field">
		<option value="county">county</option>
		<option value="area">area</option>
	</form>

  <div id="container">
	<p>(future implementation of interactive map)</p>
   </div>
    <div id="search">
      {% if first_10_lands %}
      <ul>
      {% for land in first_10_lands %}
        <li><a href="/land/{{ land.id }}/">Land: {{ land.id }}</a> </li>
      {% endfor %}
      </ul>
      {% endif %}
    </div>
</body>
</html> 
